$card-bg-color: #dfebea;
$card-text-color: #17524f;
$card-button-bg: #297874;
$card-scrollbar-thumb-bg: #297874;
$card-scrollbar-thumb-hover-bg: #48928e;
$card-table-odd-row: #cddfde;

#sidebar {
  width: min(
    25rem,
    calc(100vw - ($body-inline-padding * 2) - (100vh - 9.25rem))
  );
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, 2.5fr) 1fr;
  gap: 1.5rem;
  overflow: hidden;

  & > div {
    height: 100%;
    background-color: $card-bg-color;
    border-radius: 15px;
    padding: 2rem;
    color: $card-text-color;
  }

  h2 {
    font-weight: $fw-700;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $fw-600;
  }

  small {
    font-weight: $fw-400;
    font-size: 0.825rem;
  }
}
