$light-tile: #dce5e5;
$dark-tile: #c5d3d3;

$light-tile-highlighted: #99b3b2;
$dark-tile-highlighted: #749796;

$light-tile-deep-highlighted: #bd9d9d;
$dark-tile-deep-highlighted: #8c5f5f;

$piece-size: 75%;

#board {
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border-radius: 15px;
  overflow: hidden;

  .spot {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition-property: background-color;
    transition-duration: 350ms;

    &.light {
      background-color: $light-tile;

      &.highlight {
        background-color: $light-tile-highlighted;
      }

      &.dark-highlight {
        background-color: $light-tile-deep-highlighted;
      }
    }
    &.dark {
      background-color: $dark-tile;

      &.highlight {
        background-color: $dark-tile-highlighted;
      }

      &.dark-highlight {
        background-color: $dark-tile-deep-highlighted;
      }
    }

    & > img {
      user-select: none;
      pointer-events: none;
      width: $piece-size;
      aspect-ratio: 1;
    }
  }
}
