.switch {
  font-size: 5rem; /* Sets the size of the switch */
  position: relative;
  height: 1em;
  aspect-ratio: 2.25 / 1;
  border-radius: 100vw;
  background-color: lightgray;
}
.switch::after {
  content: "";
  position: absolute;
  height: calc(1em - 0.2em);
  width: calc(1em - 0.2em);
  top: 0.1em;
  left: 0.1em;
  transform: none;
  border-radius: 50%;
  background-color: gray;
  transition: transform 0.3s ease, left 0.3s ease;
}
.switch[data-checked="true"]::after {
  left: calc(100% - (0.1em));
  transform: translateX(-100%);
}
