input.custom-appearance {
  display: none;
}

/* #region checkbox */
input[type="checkbox"]:checked + label {
  cursor: pointer;
  --input-bg: #17524f;
  --input-bg-trans: #c5d4d3;
}
input[type="checkbox"]:not(:checked) + label {
  cursor: pointer;
  --input-bg: #9c9c9c;
  --input-bg-trans: #d9d9d9;
}
input[type="checkbox"]:focus-within + label > .checkbox {
  border: 1px solid black;
}

.checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--input-bg-trans);
  transition: background-color 0.2s ease;
  border-radius: 10%;
}
.checkbox::before,
.checkbox::after {
  content: "";
  position: absolute;
  width: 50%;
  height: max(10%, 1px);
  background-color: var(--input-bg);
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100vw;
  rotate: -45deg;
  transition-property: width, transform, border-radius;
}
.checkbox::after {
  rotate: 45deg;
}
input[type="checkbox"]:checked + label .checkbox::before {
  border-radius: 0 100vw 100vw 100vw;
  transform: translate(-39%, 50%);
}
input[type="checkbox"]:checked + label .checkbox::after {
  width: 25%;
  border-radius: 100vw 0 100vw 100vw;
  transform: translate(-50%, 100%);
}
/* #endregion // checkbox */

/* #region dropdown */
.dropdown {
  position: relative;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown::after {
  content: "";
  margin-left: 0.2rem;
  display: inline-block;
  width: 0.6rem;
  aspect-ratio: 1;
  background-image: url("../assets/icons/caret.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: transform;
}
.dropdown[data-open="true"]::after {
  transform: rotateX(180deg);
}
.option-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  display: none;
  z-index: 2;
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  background-image: url("../assets/icons/close-bordered.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 0.25rem center;
  border-radius: 5px;
  text-align: right;
  padding: 0.2rem calc(0.5rem - 4px) 0.2rem 1.75rem;
  min-width: 6.5rem;
  max-width: 10rem;
  max-height: 8rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
.option-list::-webkit-scrollbar {
  border-radius: 100vw;
  width: 4px;
}
.option-list::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--card-scrollbar-thumb-bg);
}
.option-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--card-scrollbar-thumb-hover-bg);
}
.option-list:hover {
  cursor: pointer;
}
.option-list > .spacer {
  display: block;
}
.option-list > .custom-option {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem 0.3rem;
  transition-property: backdrop-filter;
  transition-duration: 0.1s;
}
.custom-option:hover {
  backdrop-filter: brightness(95%);
}
.dropdown[data-open="true"] + .option-list {
  display: flex;
  animation: fade-in 0.2s ease;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #endregion // drodpown */

/* #region text */

.custom-txt-input {
  font-size: 0.925rem;
  font-weight: var(--fw-300);
  width: 100%;
  height: 1.125rem;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #000;
}

/* #endregion */
