@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* #region custom variables */

  --background: rgb(240, 240, 240);
  --pop-out-background: rgb(250, 250, 250);

  --light-contrast: rgb(225, 225, 225);

  --accent: rgb(15, 15, 15);

  --text-color: rgb(0, 0, 0);
  --faded-text-color: rgb(120, 120, 120);

  --box-shadow: 0 0 1em #afafaf;

  --dark-squares: rgb(50, 50, 55);
  --light-squares: rgb(220, 220, 225);

  --card-header-size: 2.2em;

  --black-knight: url("assets/pieces/neo/b_knight.png");
  --black-queen: url("assets/pieces/neo/b_queen.png");
  --black-rook: url("assets/pieces/neo/b_rook.png");
  --black-bishop: url("assets/pieces/neo/b_bishop.png");
  --black-pawn: url("assets/pieces/neo/b_pawn.png");

  --white-knight: url("assets/pieces/neo/w_knight.png");
  --white-queen: url("assets/pieces/neo/w_queen.png");
  --white-rook: url("assets/pieces/neo/w_rook.png");
  --white-bishop: url("assets/pieces/neo/w_bishop.png");
  --white-pawn: url("assets/pieces/neo/w_pawn.png");

  /* #endregion -=custom variables=- */
}

/* #region general page styling */

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: 400;
  font-size: inherit;
}

*::-webkit-scrollbar,
*::after::-webkit-scrollbar,
*::before::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 100vw;
}
*::-webkit-scrollbar-thumb,
*::before::-webkit-scrollbar-thumb,
*::after::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 20%);
  border-radius: 100vw;
}
*::-webkit-scrollbar-thumb:hover,
*::after::-webkit-scrollbar-thumb,
*::after::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 30%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 5vmax;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  gap: 5vw;
  overflow: hidden;
  transition: filter 0.5s ease;
}
#page-wrapper[data-faded="true"] {
  pointer-events: none;
}

*[data-faded="true"] {
  filter: brightness(0.75) blur(3px);
}

/* #endregion -=general page styling=- */

/* #region utility classes */

.aria-hidden_display-none[aria-hidden="true"],
.aria-hidden_display-none[aria-hidden="true"] * {
  display: none;
}

.action-button {
  background-color: #d9d9d9;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.action-button:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}

/* #endregion -=utility classes=- */

/* #region pre-game display */

.pre-game {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.pre-game > div.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.pre-game > div.wrapper > button {
  width: 100%;
  max-width: min(50vw, 20rem);
}

/* #endregion -=pre-game display=- */

/* #region sidebar stylings */

/* #region left sidebar styling */

.left-sidebar {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1px 1fr;
}
.left-sidebar > div {
  text-align: center;
  width: calc(
    100% - 1.5rem
  ); /* this and the next declaration are necessary to be sure that nametags don't overflow their intended area */
  margin: 1.5rem 0.75rem;
  overflow: hidden;
}
.left-sidebar > div .identity {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.75em;
}
.identity .username {
  font-size: 1.5rem;
  font-weight: 500;
}
.identity .elo {
  font-size: 1rem;
  color: var(--faded-text-color);
  font-weight: 500;
}
.left-sidebar .advantage {
  font-weight: 300;
}
.left-sidebar > hr {
  width: 90%;
  margin-inline: auto;
  border: 1px solid #d9d9d9;
}

.captures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.75rem;
}
.captures > div {
  width: fit-content;
}
.captures > div > div {
  width: min(2rem, 10vh);
  height: min(2rem, 10vh);
  margin-right: max(-1.3rem, -6.5vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.captures#w_captures > .knights > div {
  background-image: var(--black-knight);
}
.captures#w_captures > .bishops > div {
  background-image: var(--black-bishop);
}
.captures#w_captures > .rooks > div {
  background-image: var(--black-rook);
}
.captures#w_captures > .queens > div {
  background-image: var(--black-queen);
}
.captures#w_captures > .pawns > div {
  background-image: var(--black-pawn);
}
.captures#b_captures > .knights > div {
  background-image: var(--white-knight);
}
.captures#b_captures > .bishops > div {
  background-image: var(--white-bishop);
}
.captures#b_captures > .rooks > div {
  background-image: var(--white-rook);
}
.captures#b_captures > .queens > div {
  background-image: var(--white-queen);
}
.captures#b_captures > .pawns > div {
  background-image: var(--white-pawn);
}

.left-sidebar.on_createBoard {
  padding: 1.5rem 0.75rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
form#custom-piece-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#custom-piece-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
span.custom-piece-display {
  max-height: min(5vh, 5vw);
}
span.custom-piece-display > img {
  height: 100%;
}
#custom-piece-form input[type="file"] {
  display: none;
}
#custom-piece-form label:has(input[type="file"])::after {
  content: "Select Image";
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.25rem;
  font-size: 0.75em;
  background-color: var(--light-contrast);
  border-radius: 0.25rem;
  filter: none;
  box-shadow: none;
  transition: filter 0.2s ease, box-shadow 0.2s ease;
}
#custom-piece-form label:has(input[type="file"]):hover::after {
  filter: brightness(0.9);
}
#custom-piece-form label:has(input[type="file"]:valid)::after {
  display: none;
}

/* #endregion -=left sidebar styling=- */

/* #region right sidebar styling */

.right-sidebar {
  position: relative;
  padding: 1.5rem 0.75rem;
  overflow: hidden;
}

.history {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}
.history > .move-head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 0.5em;
}
.move-head > * {
  width: 100%;
  text-align: center;
}

.history > ol {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}
.history > ol > li {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  text-align: center;
}
.history > ol > li:not(:last-of-type) {
  margin-bottom: 5px;
}
.history > ol > li > .num {
  color: var(--faded-text-color);
  transition: color 0.2s ease;
  background-color: var(--pop-out-background);
  padding: 0px;
}
.history > ol > li:hover > .num {
  color: var(--text-color);
  font-weight: 500;
}

.right-sidebar .actions {
  background-color: var(--pop-out-background);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px -10px 10px var(--pop-out-background);
}
.right-sidebar .actions button {
  font-size: 0.9em;
  width: calc(50% - 1rem);
}

/* #endregion -=right sidebar styling=- */

.right-sidebar,
.left-sidebar {
  width: min(100%, 20vw);
  border-radius: 0.75rem;
  background-color: var(--pop-out-background);
  box-shadow: var(--box-shadow);
  border: 1px solid #d9d9d9;
  height: 100%;
}
.right-sidebar > h2,
.left-sidebar > h2 {
  font-size: var(--card-header-size);
  text-align: center;
  margin-bottom: 0.5em;
}

/* #endregion -=sidebar stylings=- */

/* #region board styling */

.board {
  height: min(100%, calc((100vw - (10vmax + 10vw)) * 0.6));
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  user-select: none;
}
.board * {
  user-select: none;
}
.board > .spot {
  text-align: center;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.board > *:nth-child(odd) {
  background-color: var(--light-squares);
}
.board > *:nth-child(even) {
  background-color: var(--dark-squares);
}

/* #endregion -=board styling=- */

/* #region settings and any related items stylings */

/* #region settings toggle styling */

#toggle-settings {
  position: absolute;
  top: max(2.5vmax, 0.8rem);
  right: max(2.5vmax, 0.8rem);
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(50%, -50%);
  user-select: none;
  z-index: 1000;
}
#toggle-settings:hover {
  cursor: pointer;
}
#toggle-settings > svg {
  width: 100%;
  height: 100%;
  transition: rotate 0.5s ease;
  fill: var(--accent);
}
#toggle-settings[aria-expanded="true"] > svg {
  rotate: -210deg;
}

/* #endregion -=settings toggle styling=- */

/* #region settings menu styling */

#settings-menu {
  box-sizing: content-box;
  min-width: 15vw;
  max-width: 25rem;
  position: absolute;
  left: 100%;
  height: calc(100% - max(5vmax, 1.6rem));
  top: max(2.5vmax, 0.8rem);
  bottom: max(2.5vmax, 0.8rem);
  border: 1px solid var(--light-contrast);
  transform: translate(0, -2rem);
  background-color: var(--pop-out-background);
  z-index: 500;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  transition: transform 0.5s ease;
}
#settings-menu[data-opened="true"] {
  transform: translate(calc(-100% - max(2.5vmax, 0.8rem) + 2rem), -2rem);
}
#settings-menu h2 {
  font-size: var(--card-header-size);
}

.settings-list {
  padding-inline: 1rem;
  list-style: none;
  color: var(--faded-text-color);
}
.settings-list li {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  width: 100%;
  position: relative;
}
.settings-list li > p {
  z-index: 5;
  white-space: nowrap;
  overflow: auto;
  padding-right: calc(3.825rem + 0.7em);
}
.settings-list li > p::-webkit-scrollbar {
  display: none;
}

/* #endregion -=settings menu styling=- */

/* #region settings components */

/* #region switch settings component */

.settings-list li .switch {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  user-select: none;
  display: inline-block;
  font-size: 1.7rem; /* Sets the size of the switch */
  height: 1em;
  aspect-ratio: 2.25 / 1;
  border-radius: 100vw;
  background-color: var(--light-contrast);
}
.switch::after {
  color: var(--faded-text-color);
  content: "";
  position: absolute;
  height: calc(1em - 0.2em);
  width: calc(1em - 0.2em);
  top: 0.1em;
  left: 0.1em;
  transform: none;
  border-radius: 50%;
  background-color: currentColor;
  transition: transform 0.3s ease, left 0.3s ease;
}
.switch[data-checked="true"]::after {
  left: calc(100% - (0.1em));
  transform: translateX(-100%);
}

/* #endregion -=switch settings component=- */

/* #region dropdown settings component */

.settings-list li .dropdown {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  user-select: none;
  font-size: 1.7rem; /* Sets the size of the switch */
  height: 1em;
  width: 2.25em;
  border-radius: 0.5rem;
  gap: 0;
  padding-top: 1em;
  background-color: var(--light-contrast);
  transition: border-radius 0.2s ease, width 0.2s ease;
}
.settings-list li .dropdown[data-opened="true"] {
  width: min(100%, 6em);
  border-radius: 0.5rem 0.5rem 0 0;
}
.dropdown > .dropdown-arrow {
  font-size: inherit;
  position: absolute;
  height: 100%;
  aspect-ratio: 1 / 1;
  left: calc(50% - 0.5em);
  top: 0;
  rotate: -90deg;
  transform-origin: 50% 50%;
  transition: rotate 0.2s ease;
}
.dropdown[data-opened="true"] > .dropdown-arrow {
  rotate: 0deg;
}
.dropdown > .dropdown-option {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  font-size: 1rem;
  background-color: var(--light-contrast);
  opacity: 0;
  padding-inline: 0.5em;
  transition: inset 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  overflow: hidden;
}
.dropdown-option::-webkit-scrollbar {
  display: none;
}
.dropdown[data-opened="true"] > .dropdown-option:hover {
  background-color: var(--faded-text-color);
}
.dropdown[data-opened="true"] > .dropdown-option {
  opacity: 1;
  top: calc(1.7rem * var(--num) - (var(--num) * 1px));
}
.dropdown-option:first-child {
  background-color: red;
  padding-top: 1.7rem;
}
.dropdown-option:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
.dropdown-option[data-disabled="true"] {
  pointer-events: none;
}

/* #endregion -=dropdown settings component=- */

/* #endregion -=settings components=- */

/* #endregion -=settings and any related items stylings=- */

/* #region compatibility with device settings */

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation-duration: 0ms !important;
  }
  html,
  body {
    scroll-behavior: auto;
  }
}

/* #endregion -=compatibility with device settings=- */
