body {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) 3rem;
  overflow: hidden;

  /* #region settings */

  --light-tile: #dce5e5;
  --dark-tile: #c5d3d3;

  --light-tile-highlighted: #99b3b2;
  --dark-tile-highlighted: #749796;

  --light-tile-deep-highlighted: #bd9d9d;
  --dark-tile-deep-highlighted: #8c5f5f;

  --arrow-bg: #649393;

  --piece-size: 75%;

  /* #endregion // settings */
}

/* #region main */
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
/* #endregion // main */
