@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background-color: 229, 229, 229;
  --contrast: 10, 10, 10;
  --color: 0, 0, 0;
  --color-accent: 32, 32, 32;
  --even: 85, 85, 85;
  --odd: 170, 170, 170;
  --highlight-even: sepia(0.8) brightness(1.35);
  --highlight-odd: sepia(0.8);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  place-items: center;
  overflow: hidden;
  background-color: rgb(var(--background-color));
  color: rgb(var(--color));
}

#board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  border: 2px solid #000;
  outline: 4px solid #fff;
  box-shadow: 0px 0px 0px 12px #000;
  height: calc(95vh - 5em);
  aspect-ratio: 1 / 1;
  max-width: calc(70vw);
  margin: 2em;
}
#board > .spot {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  transition: filter 0.05s linear;
}
#board > .spot:nth-child(even) {
  background-color: rgb(var(--even));
}
#board > .spot:nth-child(odd) {
  background-color: rgb(var(--odd));
}
#board > .spot:nth-child(even).highlight {
  filter: var(--highlight-even);
}
#board > .spot:nth-child(odd).highlight {
  filter: var(--highlight-odd);
}
.spot > .top-left {
  font-weight: 500;
  font-size: 0.8em;
  background-blend-mode: multiply;
  position: absolute;
  top: 1px;
  left: 3px;
}
.spot > .bottom-right {
  font-weight: 500;
  font-size: 0.8em;
  background-blend-mode: multiply;
  position: absolute;
  bottom: 1px;
  right: 3px;
}

.dot::before {
  content: "";
  background-color: #000000af;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#info {
  width: 100%;
  height: 90%;
  border: 2px solid rgb(var(--color-accent));
  border-radius: 10px;
  text-align: center;
  position: relative;
}
#turn {
  width: 100%;
  font-size: 1em;
  height: 1.5em;
  display: grid;
  position: relative;
  place-items: center;
}
#turn::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: rgb(var(--color-accent));
}
#captures {
  position: relative;
  height: calc(100% - 1.5em - 5px);
  display: grid;
  grid-template-rows: 1fr 2px 1fr;
}
#captures > div {
  position: relative;
  padding-top: 7px;
  height: 100%;
}
#captures span {
  font-size: 0.8em;
}
#captures > hr {
  width: 80%;
  transform: translateX(10%);
  background-color: rgb(var(--color-accent));
  border: none;
}
#captures img {
  width: 12%;
  max-width: 2em;
  vertical-align: middle;
}
#w_value,
#b_value {
  position: absolute;
  bottom: 0.25em;
  left: 50%;
  transform: translateX(-50%);
}

#moves {
  width: 100%;
  height: 90%;
  max-height: 91vh;
  border: 2px solid rgb(var(--color-accent));
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
}
#moves > h2 {
  width: 100%;
  font-size: 1em;
  height: 1.5em;
  display: grid;
  position: relative;
  place-items: center;
}
#moves > h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: #33333333;
}
#moves > #move_list {
  margin-inline: auto;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1000, min-content);
  padding: 7px 10%;
  height: 100%;
  font-size: 0.75em;
  transition: font-size 0.2s ease;
}
#move_num {
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(7px + 2em);
  transition: opacity 0.1s linear;
}
#move_list.game-ended > span:hover {
  cursor: pointer;
}
mark {
  background-color: #e7e766b4;
  padding: 0.15em 0.75em;
}
#moves:hover #move_num {
  opacity: 1;
}
#move_num > span {
  width: 2em;
  text-align: center;
}
#move_list > img {
  max-height: 2em;
  place-self: center;
  max-width: 50%;
}
#move_list > span {
  text-align: center;
}

#move-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.25em;
}
#move-nav > button {
  display: none;
  box-sizing: content-box;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease, border 0.2s ease;
  border-radius: 0.2em;
  color: var(--color-accent);
}
#move-nav.show > button {
  display: inline;
}
#move-nav > button:hover {
  color: var(--color);
  border-color: rgba(var(--contrast), 0.5);
  background-color: rgba(var(--contrast), 0.3);
}

#promote {
  position: absolute;
  display: none;
  opacity: 0;
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid #505050;
  background-color: #333333d6;
  box-shadow: 2px 2px 10px #353535;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(5px);
  transition: background-color 0.1s ease, opacity 0.25s ease;
}
#promote:hover {
  background-color: #333333f8;
}
#promote > img {
  place-self: center;
  max-width: 65%;
  max-height: 65%;
  aspect-ratio: 1 / 1;
  scale: 1;
  transition: scale 0.1s ease;
}
#promote > img:hover {
  scale: 1.1;
}

#modal {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 50vw;
  max-width: 80vh;
  height: 85vh;
  max-height: 80vw;
  border: 1px solid #333;
  background-color: rgb(var(--background-color));
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  place-items: center;
  transition: opacity 0.4s ease, width 0.4s ease 0.25s, height 0.3s ease 0.25s,
    inset 0.4s ease, transform 0.4s ease, border-radius 0.2s ease;
}
#modal * {
  display: auto;
  opacity: 1;
  transition: opacity 0.2s ease 0.65s;
}
#modal::after {
  content: "^";
  height: 1em;
  position: absolute;
  font-size: 0.9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#modal.collapsed {
  width: max(2em, 10vw);
  height: 1em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
  transition: opacity 0.4s ease 0.25s, width 0.4s ease, height 0.4s ease,
    inset 0.4s ease, transform 0.4s ease 0.25s, border-radius 0.4s ease 0.25s;
}
#modal.collapsed::after {
  display: block;
  opacity: 1;
}
#modal.collapsed * {
  pointer-events: none;
  user-select: none;
  z-index: -1000;
  opacity: 0;
  transition: none;
}
#modal > select {
  font-size: 0.85em;
  margin-top: 2em;
  color: rgb(var(--color-accent));
  border: 0;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  text-decoration: underline transparent;
  transition: color 0.1s ease, text-decoration 0.1s ease,
    opacity 0.2s ease 0.65s;
}
#modal > select > option {
  color: rgb(var(--color));
}
#modal > select:hover {
  color: rgb(var(--color));
  cursor: pointer;
  text-decoration-color: currentColor;
}
#modal label > svg {
  max-width: 1em;
  max-height: 1em;
}
.modal_link {
  color: rgb(var(--color-accent));
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
#w_score_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  top: 2.5em;
  transform: translate(-50%, -50%);
}
.result_container {
  display: flex;
  flex-direction: column;
}
#b_score_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 25%;
  top: 2.5em;
  transform: translate(50%, -50%);
}

@media (width > 1080px) {
  :root {
    font-size: 1.2em;
  }
  #info,
  #moves {
    font-size: 1.1em;
  }
}
