#game-info {
  height: 100%;
  padding-inline: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  & > .container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.5rem);
  }

  h2 {
    padding-inline: 2rem;
  }

  .header-row {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: calc(2rem + 0.5rem);
    z-index: 2;

    &::before {
      /* fades out the top of the moves history */
      content: "";
      position: absolute;
      pointer-events: none;
      top: 100%;
      left: 0rem;
      width: 100%;
      height: 0.5rem;
      background: linear-gradient(to top, transparent, $card-bg-color);
    }
  }

  .history-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.75rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100vw;
      background-color: $card-scrollbar-thumb-bg;

      &:hover {
        background-color: $card-scrollbar-thumb-hover-bg;
      }
    }

    .move-set {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-inline: 2rem;
      position: relative;
      padding-block: 0.5rem;
      font-size: 1.25rem;

      &::before {
        content: attr(data-rowid);
        position: absolute;
        font-size: 0.75rem;
        font-weight: $fw-700;
        top: 50%;
        left: 1.25rem;
        transform: translate(-50%, -50%);
      }

      &:nth-child(even) {
        box-shadow: -0.5rem 0 0 $card-table-odd-row,
          0.5rem 0 0 $card-table-odd-row;
        background-color: $card-table-odd-row;
      }
    }
  }

  .game-controls {
    position: relative;
    height: 3.5rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    z-index: 2;

    &::before {
      /* fades out the bottom of the moves history */
      content: "";
      position: absolute;
      pointer-events: none;
      bottom: 100%;
      left: 0rem;
      width: 100%;
      height: 1rem;
      background: linear-gradient(to bottom, transparent, var(--card-bg-color));
    }

    button {
      width: 100%;
      background-color: var(--card-button-bg);
      border: none;
      outline: none;
      border-radius: 100vw;
      color: #fff;
      font-size: 1.25rem;
      margin-top: 0.475rem;
      height: 3.125rem;
      transition-property: filter;

      &:is(:hover, :focus) {
        cursor: pointer;
        filter: brightness(115%);
      }
    }
  }
}
