@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  vertical-align: baseline;
  font-size: 100%;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: none;
}

img {
  user-select: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding-inline: 11.625rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
}
#header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.modal-control {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  display: grid;
  place-items: center;
  transition-property: background-color;
}
.modal-control:is(:hover, :focus) {
  background-color: #e6f3f3;
}
.modal-control img {
  width: 42%;
  height: 42%;
}

h1 {
  font-size: 1.5rem;
}

body {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) 3rem;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

#board {
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template: repeat(8, 1fr)/repeat(8, 1fr);
  border-radius: 15px;
  overflow: hidden;
}
#board .spot {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition-property: background-color;
  transition-duration: 350ms;
}
#board .spot.light {
  background-color: #dce5e5;
}
#board .spot.light.highlight {
  background-color: #99b3b2;
}
#board .spot.light.dark-highlight {
  background-color: #bd9d9d;
}
#board .spot.dark {
  background-color: #c5d3d3;
}
#board .spot.dark.highlight {
  background-color: #749796;
}
#board .spot.dark.dark-highlight {
  background-color: #8c5f5f;
}
#board .spot > img {
  user-select: none;
  pointer-events: none;
  width: 75%;
  aspect-ratio: 1;
}

.arrow-body {
  pointer-events: none;
  position: absolute;
  transform-origin: 0 center;
  height: 12px;
  background-color: #649393;
  opacity: 0.8;
  border-radius: 100vw;
  transition-property: opacity;
}
.arrow-body::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("./assets/icons/arrow-head.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.arrow-body.flipped {
  transform: translateX(16px);
}
.arrow-body.flipped.knights-vertical {
  transform: translateX(18px);
}
.arrow-body.flipped::before {
  left: 0;
  transform: translate(50%, 50%);
  rotate: 180deg;
}
.arrow-body.knights-horizontal {
  transform: translateX(-6px);
  border-radius: 0;
}
.arrow-body.knights-vertical {
  transform: translateX(-6px);
  border-radius: 0;
}
.arrow-body.opacity {
  opacity: 0;
}

.arrow-segment {
  pointer-events: none;
  position: absolute;
  transform-origin: 0 center;
  height: 12px;
  background-color: #649393;
  opacity: 0.8;
  border-radius: 100vw 0 0 100vw;
  transition-property: opacity;
}
.arrow-segment.flipped {
  border-radius: 0 100vw 100vw 0;
}
.arrow-segment.opacity {
  opacity: 0;
}

#sidebar {
  width: min(25rem, 100vw - 23.25rem - (100vh - 9.25rem));
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, 2.5fr) 1fr;
  gap: 1.5rem;
  overflow: hidden;
}
#sidebar > div {
  height: 100%;
  background-color: #dfebea;
  border-radius: 15px;
  padding: 2rem;
  color: #17524f;
}
#sidebar h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#sidebar h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}
#sidebar small {
  font-weight: 600;
  font-size: 0.825rem;
}

#game-info {
  height: 100%;
  padding-inline: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
#game-info > .container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.5rem);
}
#game-info h2 {
  padding-inline: 2rem;
}
#game-info .header-row {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 2.5rem;
  z-index: 2;
}
#game-info .header-row::before {
  /* fades out the top of the moves history */
  content: "";
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 0rem;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to top, transparent, #dfebea);
}
#game-info .history-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0.75rem;
}
#game-info .history-wrapper::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
#game-info .history-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #297874;
}
#game-info .history-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #48928e;
}
#game-info .history-wrapper .move-set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 2rem;
  position: relative;
  padding-block: 0.5rem;
  font-size: 1.25rem;
}
#game-info .history-wrapper .move-set::before {
  content: attr(data-rowid);
  position: absolute;
  font-size: 0.75rem;
  font-weight: 800;
  top: 50%;
  left: 1.25rem;
  transform: translate(-50%, -50%);
}
#game-info .history-wrapper .move-set:nth-child(even) {
  box-shadow: -0.5rem 0 0 #cddfde, 0.5rem 0 0 #cddfde;
  background-color: #cddfde;
}
#game-info .game-controls {
  position: relative;
  height: 3.5rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  z-index: 2;
}
#game-info .game-controls::before {
  /* fades out the bottom of the moves history */
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: 100%;
  left: 0rem;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to bottom, transparent, var(--card-bg-color));
}
#game-info .game-controls button {
  width: 100%;
  background-color: var(--card-button-bg);
  border: none;
  outline: none;
  border-radius: 100vw;
  color: #fff;
  font-size: 1.25rem;
  margin-top: 0.475rem;
  height: 3.125rem;
  transition-property: filter;
}
#game-info .game-controls button:is(:hover, :focus) {
  cursor: pointer;
  filter: brightness(115%);
}

#player-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
}
#player-info > div > .player-info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}
#player-info .player-name {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=styles.css.map */
